@charset "utf-8";
body {
	background-color: #ccc;
}
#wrapper {
	width: 800px;
	margin: auto;
	position: relative;
}
time {
	position: absolute;
	right: 0px;
	top: 10px;
	padding-left: 15px;
	background: url(img/icon.png) left 4px no-repeat;
}
nav {
	height: 50px;
}
nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
}
nav ul li {
	float: left;
	padding-left: 20px;
}
nav ul li:first-child {
	padding-left: 0;
}
article h1 {
	background:url(img/icon.png) left 20px no-repeat;
	padding-left:10px;
	font-size: 2em;
}
form#contact {
	border-top:dotted 2px black;
}
li a#black {
	text-decoration:none;
	color:black;
}
li a#red {
	text-decoration:none;
	color:red;
}
li a#blue {
	text-decoration:none;
	color:blue;
}
#main_article {
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	text-shadow:0 1px 0 #FFFFFF;
}
#main_article *::selection {
	background: #0C0;
	color: #FFF;
	text-shadow: none;
}
#response {
	color: #F00;
}